@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom left,
    #091921 70%,
    #194358 10%,
    #091921 20%
  );
  overflow: hidden;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#e91e63, #ffc107);
  animation: circle 5s infinite;
  clip-path: circle(16% at 33% 20%);
}
@keyframes circle {
  0% {
    clip-path: circle(20% at 33% 20%);
  }
  50% {
    clip-path: circle(17% at 33% 20%);
  }
  100% {
    clip-path: circle(20% at 33% 20%);
  }
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#fff, #da00ff);
  clip-path: circle(20% at 85% 91%);
  animation: circle1 4s infinite;
}
@keyframes circle1 {
  0% {
    clip-path: circle(18% at 85% 91%);
  }
  50% {
    clip-path: circle(16% at 85% 91%);
  }
  100% {
    clip-path: circle(18% at 85% 91%);
  }
}
.container {
  position: relative;
  background: rgba(121, 112, 112, 0.5);
  border-radius: 6px;
  overflow: hidden;
  z-index: 10;
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(121, 112, 112, 0.2);
  border-left: 1px solid rgba(121, 112, 112, 0.2);
  box-shadow: 5px 5px rgba(121, 112, 112, 0.2);
}
.container .calculator {
  position: relative;
  display: grid;
}
.container .calculator .value {
  grid-column: span 4;
  height: 140px;
  width: 300px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 30px;
  background: transparent;
  color: #fff;
  border-top: 1px solid rgba(121, 112, 112, 0.05);
  border-right: 1px solid rgba(121, 112, 112, 0.05);
}
.container .calculator span {
  display: grid;
  height: 75px;
  width: 75px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
  border-top: 1px solid rgba(121, 112, 112, 0.05);
  border-right: 1px solid rgba(121, 112, 112, 0.05);
}
.container .calculator span:hover {
  transition: 0%;
  background: rgba(121, 112, 112, 0.05);
}
.container .calculator span:active {
  background: #14ff47;
  color: #192f00;
  font-size: 24px;
  font-weight: 500;
}
.container .calculator .clear {
  grid-column: span 2;
  width: 150px;
  background: rgba(255, 255, 255, 0.05);
}
.container .calculator .plus {
  grid-row: span 2;
  height: 150px;
}
.equal {
  background: rgba(255, 255, 255, 0.05);
}
.vertical {
  border: 1.7px solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-image: linear-gradient(
    to bottom,
    #377a98 0%,
    #377a98 48%,
    #091921 100%
  );
  border-image-slice: 1;
  height: 50vh;

  transform: translate(50vw, -30vh);
}
.vertical1 {
  border: 1.7px solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-image: linear-gradient(
    to bottom,
    #377a98 0%,
    #377a98 48%,
    #091921 100%
  );
  border-image-slice: 1;
  height: 35vh;

  transform: translate(40vw, -35vh);
}
.vertica2 {
  border: 1.5px solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-image: linear-gradient(to top, #377a98, #091921);
  border-image-slice: 1;
  height: 40vh;

  transform: translate(-20vw, 30vh);
}
.vertical3 {
  border: 1.7px solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-image: linear-gradient(
    to bottom,
    #377a98 0%,
    #377a98 25%,
    #091921 90%,
    #091921 100%
  );
  border-image-slice: 1;
  height: 90vh;
  transform: translate(-26vw, -10vh);
}
.vertical4 {
  border: 1.7px solid;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-image: linear-gradient(
    to top,
    #377a98 0%,
    #377a98 30%,
    #091921 95%,
    #091921 100%
  );
  border-image-slice: 1;
  height: 90vh;
  transform: translate(-35vw, 5vh);
}
.vertical5 {
  height: 2vh;
  width: 2vh;
  border-radius: 50%;
  border: 1px solid #377a98;
  transform: translate(-20.7vw, 6vh);
  animation: jump 3s infinite;
}
@keyframes jump {
  0% {
    transform: translate(-20.7vw, 1vh);
  }
  50% {
    transform: translate(-20.7vw, 6vh);
    box-shadow: 1px #377a98;
  }
  100% {
    transform: translate(-20.7vw, 1vh);
  }
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 20px solid #377a98;
  position: relative;
  transform: translate(-34vw, 25vh) rotate(45deg) scale(1.1);
  border-radius: 3px;
  animation: rot 3s infinite;
}
@keyframes rot {
  0% {
    transform: translate(-34vw, 25vh) scale(1.1) rotate(0deg);
  }
  50% {
    transform: translate(-34vw, 25vh) scale(1.1) rotate(180deg);
  }
  100% {
    transform: translate(-34vw, 25vh) scale(1.1) rotate(360deg);
  }
}

.triangle-left:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 16.5px solid #091921;
  position: absolute;
  top: -9px;
  left: 2px;
  transform: translate(calc(-34vw-9px), calc(25vh+2px)) rotate(45deg) scale(1.1);
  border-radius: 3px;
  animation: rot3 3s infinite;
}
.triangle-2 {
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 20px solid #377a98;
  position: relative;
  transform: translate(43vw, -18vh) rotate(-230deg) scale(1.1);
  border-radius: 3px;
  animation: rot2 3s infinite;
}
@keyframes rot2 {
  0% {
    transform: translate(43vw, -18vh) rotate(-230deg) scale(1.4);
  }
  50% {
    transform: translate(43vw, -18vh) rotate(-230deg) scale(0.9);
  }
  100% {
    transform: translate(43vw, -18vh) rotate(-230deg) scale(1.4);
  }
}
.triangle-2:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 16.5px solid #091921;
  position: absolute;
  top: -9px;
  left: 2px;
  transform: translate(calc(43vw-9px), calc(-18vh+2px)) rotate(-230deg)
    scale(1.1);
  border-radius: 3px;
  z-index: -1;
}
.square {
  height: 3vh;
  width: 3vh;
  background-color: transparent;
  border: 0.35vh solid #377a98;
  border-radius: 5px;
  transform: translate(52vw, -29vh) rotate(30deg);
  animation: rot1 3s infinite;
}
@keyframes rot1 {
  0% {
    transform: translate(52vw, -29vh) rotate(0deg);
  }
  50% {
    transform: translate(52vw, -29vh) rotate(180deg);
  }
  100% {
    transform: translate(52vw, -29vh) rotate(360deg);
  }
}

/*.glowing {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.glo {
  position: absolute;
  /*top: calc(80px * var(--i));
  bottom: calc(80px * var(--i));
  left: calc(80px * var(--i));
  right: calc(80px * var(--i));
  top: 10vh;
  left: 10vw;
}
.glo:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1500px;
  width: 15px;
  height: 15px;
  background: #377a98;
  border-radius: 50%;
*/
div i {
  z-index: -22;
  position: absolute;
  background: #377a98;
  border-radius: 50%;
  box-shadow: 0 0 8px #377a98, 0 0 16px #377a98, 0 0 24px #377a98,
    0 0 32px #377a98;
  animation: animate linear infinite;
}
@keyframes animate {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
